.item-tarea {
  border: 1pc solid white;
  border-radius: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.btn-delete:hover,
.btn-edit:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.icon-task {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  object-fit: contain;
}

/* Base */
.item-tarea {
  color: black;
  border: none;
}

/* ALTA – rojo muy suave */
.prioridad-alta {
  background: radial-gradient(
    circle,
    rgba(229, 57, 53, 0.25) 0%,
    rgba(229, 57, 53, 0.15) 50%,
    rgba(229, 57, 53, 0.05) 100%
  );
}

/* MEDIA – naranja muy suave */
.prioridad-media {
  background: radial-gradient(
    circle,
    rgba(251, 140, 0, 0.25) 0%,
    rgba(251, 140, 0, 0.15) 50%,
    rgba(251, 140, 0, 0.05) 100%
  );
}

/* BAJA – verde muy suave */
.prioridad-baja {
  background: radial-gradient(
    circle,
    rgba(67, 160, 71, 0.25) 0%,
    rgba(67, 160, 71, 0.15) 50%,
    rgba(67, 160, 71, 0.05) 100%
  );
}
