.item-tarea {
  border: 1pc solid white;
  border-radius: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.btn-delete:hover,
.btn-edit:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.icon-task {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  object-fit: contain;
}
