.item-tarea {
  border: 1pc solid white;
  border-radius: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 1rem;
}

.btn-delete:hover,
.titulo-tarea:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
