/* Login */
.login {
  width: 300px;
  margin: 200px auto;
  padding: 25px;
    transform: translateX(-90px);

  display: flex;
  flex-direction: column;
  gap: 15px;

  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  font-family: Arial, sans-serif;
}


/* Título */
.login h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}

/* Inputs */
.login input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login input:focus {
  outline: none;
  border-color: #007bff;
}

/* Botón */
.login button {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.login button:hover {
  background-color: #0056b3;
}
